.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    margin: 80px 170px;
}
.mywork-title{
    position: relative;

}
.mywork-title h1{
    padding: 0 30px;
    font-size: 40px;
    font-weight: 600;
}
/* .mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
} */
.mywork-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.mywork-container img{
    height: 250px;
    width: 380px;
    box-sizing: border-box;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}
.mywork-container img:hover{
    transform: scale(1.06);
    border: 2px solid #ff00ff ;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 13px 25px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}
@media (max-width:768px) {
    .mywork{
        gap: 50px ;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 28px;
    }
    .mywork-title img{
        width: 100px;
        right: -15px;
    }
    .mywork-container{
        grid-template-columns: auto auto;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 170px;
    }
    .mywork-showmore{
        padding: 12px 15px;
        font-size: 16px;
        margin: 20px auto;
        cursor: pointer;
    }
}
