
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 50px;
}
.hero h1{
    text-align: center;
    width: 50%;
    font-size: 30px;
    /* font-weight: 600; */
}
.hero h1 span{
    background: linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.hero p{
    width: 90%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Outfit';
}
.hero-action{
   display: flex;
   align-items: center;
   gap:25px ;
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 50px; 
   font-family: 'Outfit';
}
.hero-connect{
    padding:11px 20px ;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    transition: 0.5s;
}
.hero-connect:hover{
    border: 2px solid white;
    transform: scale(1.05);
}
.hero-resume{
    padding:10px 20px ;
    border-radius: 50px;
    border: 2px solid #FFFF ;
    cursor: pointer;
    transition: 0.5s;
}
.hero-resume:hover{
   border-color: #B415FF; 
   transform: scale(1.05);
}
@media (max-width:768px) {
    .hemo img{
        margin: 20px;
        width: 260px;
    }
    .hero h1{
        margin-top: 0px;
        width: 90%;
        font-size: 24px;
    }
    .hero p{
        width: 80%;
        font-size: 18px;
        line-height: 25px;
        margin: 5px 0;
    }
    .hero-action{
        gap: 15px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom:50px ;
    }
    .hero-connect{
        padding: 10px 20px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 10px 20px;
        border-radius: 40px;
    }
}
