.about-left img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;   
}
.about-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
    /* font-family: 'Fuzzy Bubbles'; */
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-section{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    /* font-family:'Delius'; */
    font-family: 'outfit';
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;  
}
.about-skill{
    display: flex;
    gap: 20px;
    align-items:center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 22px;
    font-weight: 500;
    /* font-family:'Delius'; */
    font-family: 'outfit';
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 6px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415ff 106.28%);
}
.about-achievement{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
    font-family: 'outfit';
}
.about-achieve{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    transition: 0.5s;
}
.about-achieve h1{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(270deg,#DF8908 50.41%,#B415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achieve p{
    font-size: 16px;
    font-weight: 400;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.about-achieve:hover{
    transform: scale(1.08);
    transition: 0.5s;
}
@media (max-width:768px) {
    .about{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 30px;
        padding: 0;
    }
    .about-title img{
        width: 90px;
        right: -10px;
    }
    .about-section{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 25px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 5px;
    }
    .about-achievement{
        justify-content: space-evenly;
    }
    .about-achieve{
        gap: 15px;
    }
    .about-achieve h1{
        font-size: 30px;
        font-weight: 600;
    }
    .about-achieve p{
        text-align: center;
        font-size: 14px;
    }
}
