.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0 30px;
    font-size: 40px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(270deg,#df8908 70%,#b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 800px;
    color: #d8d8d8;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    font-family: 'outfit';
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;   
}
.contact-det{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}
.contact-right label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
    font-family: 'outfit';
}
.contact-right input{
    border: none;
    width: 500px;
    height: 60px;
    padding-left: 20px;
    border-radius: 10px;
    background: #32323c;
    color: #a0a0a0;
    font-family: 'outfit';
    font-size: 20px;  
}
.contact-right textarea{
    width: 500px;
    height: 150px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: #32323c;
    color: #a0a0a0;
    font-family: 'outfit';
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg,#df8908 -5.09%, #b415ff 106.28%);
    font-size: 20px;
    font-weight: 500;
    padding: 15px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.4s;
}
.contact-submit:hover{
    transform: scale(1.07);
    transition: 0.3s;
}
@media (max-width:768px) {
    .contact{
        gap: 50px ;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 28px;
    }
    .contact-title img{
        width: 90px;
        margin-right: -15px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 35px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-details{
        gap: 15px;
    }
    .contact-details img{
        width: 18px;
    }
    .contact-right{
        margin-top: -80px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 80%;
        font-size: 18px;
    }
    .contact-right textarea{
        width: 80%;
        font-size: 18px;
    }
    .contact-submit{
        font-size: 18px;
        padding: 10px 30px;
    }
}