.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 130px;
}
.navbar img{
    height: 80px;
    width: 130px;
    border-radius: 50px;
    background:none;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 13px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    /* font-family: 'outfit'; */
}
.nav-menu li img{
    display: flex;
    margin: 0 auto;
    height: 50px;
    width: 60px;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 10px 30px;

    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 10px;
    }
    #nmo{
        height: 50px;
        width: 35px;
    }
    #nmc{
       height: 40px;
        width: 30px; 
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 5px;
        left: 180px;
        width: 15px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 5px;
        background-color:#1f0016 ;
        width: 230px;
        height: 100%;
        z-index: 2;
        transition: right 0.4s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 16px;
        padding-left: 60px;
        flex-direction: row;
        gap: 3px;
    }
}