.footer-bottom{
    display: flex;
    justify-content: space-evenly;
    padding: 10px ;
    background: linear-gradient(270deg,#aa6804b6 ,#bb6fde90 );
    /* align-items: center; */
}
.footer-b-left{
    max-width: 500px;
    padding: 15px 40px ;
    font-family: 'outfit';
    font-size: 20px;
}
.footer-b-right{
    max-width: 1200px;
}
.footer-b-right img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    /* gap: 30px; */
    padding: 6px 10px;
    cursor: pointer;
    transition: 0.4s;
}
.footer-b-right img:hover{
    transform: scale(1.08);
}
@media (max-width:768px) {
    /* .footer{
        margin: 0px 0;

    } */
     .footer-b-left{
        font-size: 16px;
        text-align: start;
        margin-left: -10px;
     }
     .footer-b-right img{
        height: 30px;
        width: 30px;
        padding-top: 1vh;
     }
    
}